@import 'tailwindcss';
@import './colors.css';
@import './break-point.css';

* {
  /* padding과 border를 width에 포함 */
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* 텍스트 렌더링 최적화 */
  text-rendering: optimizeLegibility;
  /* Firefox에서 폰트 렌더링 개선 */
  -webkit-font-smoothing: antialiased;
  /* macOS/iOS에서 폰트 렌더링 개선 */
  -moz-osx-font-smoothing: grayscale;
  /* 테마 색상 적용 */
  background-color: var(--color-bg-default);
  color: var(--color-text-primary);
}

body {
  line-height: 1.5;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
